spring:
  application:
    name: icurriculum
  datasource:
    url: jdbc:h2:tcp://localhost/~/project/localrdb/i-curriculum-db
    driver-class-name: org.h2.Driver
    username: sa
  jpa:
    hibernate:
      ddl-auto: create-drop
    database-platform: org.hibernate.dialect.H2Dialect
  data:
    mongodb:
      uri: mongodb://localhost:27017/icurriculum

logging:
  level:
    org.hibernate.SQL: debug
    org.hibernate.type.descriptor.sql.BasicBinder: trace